/* ~~~~~~~~~~~ default reset / BEGIN ~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {margin:0; padding:0; outline:0; font-family:arial, helvetica, sans-serif; font-size:1em; color:#444444; vertical-align:baseline;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border:0; background:transparent;}
body {font-size:75%; /* Resets 1em to 12px (62.5% = 10px / 70% = 11px / 75% = 12px) */ background-color:#fff; text-align:left;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}


a, a:link, a:visited, a:hover, a:active, a:focus {color:#444444;}
:focus {outline:0;}

table {clear:both; border-collapse:collapse; border-spacing:0; border:none; /* tables still need 'cellspacing="0"' in the markup */}
table td {vertical-align:top;}
table th {text-align:left;}
img, a img {border:none; color:#444444;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
hr {color:#ECECEC; background-color:#ECECEC; height:4px; width:100%; text-align:center; margin:20px auto; border:none;}
small {display:block; font-size:0.9em; margin:0 0 6px 0;}
small, blockquote, strike {color:#abaaaa;}
pre {padding:0 0 0 16px; color:#DF721B;}
code {font-family:'Courier New',Courier,Fixed;}
acronym, abbr {font-size:0.9em; letter-spacing:.07em; cursor:help; border-bottom:1px dashed #999;}
blockquote {margin:15px 30px 0 10px; padding-left:10px; border-left:5px solid #e28e97;}
blockquote cite {margin:5px 0 0; display:block;}
p {line-height:1.3em;}
select * {padding-right:5px;} /* mozilla:do not place text behind the down arrow within <select> */
ul {list-style:none;}
hr {color:#ECECEC; background-color:#ECECEC; height:4px; width:100%; text-align:center; margin:20px auto; border:none;}
hr.size8 {height:8px;}
/* ~~~~~~~~~~~ default reset / END ~~~~~~~~~~~ */

textarea { width:95%; }
body {
	height:100%;
	width:100%;
	background-color:#FFFBDB;
	background-image:url(../../img/bg.gif);
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:bottom;
}
#main {
	width:60%;
	border:solid 1px black;
	position:absolute;
	left:50%;
	margin-left:-30%;
	top:5%;
	background-color:white;
}
#header {
	padding:10px;
	margin-bottom:10px;
	border-bottom:solid 1px black;
}
#header ul, #header li {
	display:inline;
}
#header h1 {
	font-size:2em;
	text-align:center;
}
#headlogo {
	width:100%;
}
#navcontainer {
	float:left;
	width:20%;
}
#nav {
	margin-left:10px;
}
#nav li {
	padding-bottom:5px;
}
#contentcontainer {
	margin-left:20%;
	padding-right:5px;
}
#contentcontainer p{
	padding-bottom:10px;
}
#contentcontainer h1 {
	font-size:1.5em;
	margin-bottom:5px;
}
#contentcontainer h1 a{
	text-decoration:none;
}
#contentcontainer img{
	border:solid 1px grey;
	margin:5px;
}
#pageslist{
	position:relative;
	left:35%;
}
#footer {
	border-top:solid 1px black;
	padding-top:10px;
	padding-bottom:10px;
}
#footer p {
	text-align:center;
}
.date {
	font-size:10px;
	color:grey;
	margin-bottom:10px;
}
.current {
	color:grey;
}
.floatright {
	float:right;
}
.floatleft {
	float:left;
}
.clearfloat {
	clear:both;
}
.spacer {
	height:5px;
	width:90%;
}
.bigspacer {
	height:10px;
	width:90%;
}
.grey {
	background-color:grey;
}
.bold {
	font-weight:bold;
}
