<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title> {TITLE} </title>
		<link rel="stylesheet" type="text/css" href="./template/standard/style.css">
	</head>
	<body>
		<div id="main">
			<div id="header">
				<h1>{HEAD_TITLE}</h1>
			</div>
			<div id="navcontainer">
				{NAV}
			</div>			
			<div id="contentcontainer">
				{CONT}
				<div id="pageslist">
					{PAGES}
				</div>
			</div>
			<div class="bigspacer clearfloat"></div>
			<div id="footer">
				<p>&copy; Bj&ouml;rn Erlwein</p>
			</div>
		</div>
	</body>
<!-- "bCMS" by Bjoern Erlwein -->
</html>